@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.widget-datepicker {
  --datepicker-background: var(--background);
  --datepicker-foreground: var(--foreground);
  padding: 3px 5px;
  border: #0a0a0a 1px solid;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

.widget-datepicker {
  background-color: #ffffff !important;
  color: #000000 !important;

  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 4px;

  /* Fix Safari / Firefox */
  -webkit-text-fill-color: #000000;
  opacity: 1;
}

/* When disabled (just in case) */
.widget-datepicker:disabled {
  background-color: #f5f5f5;
  color: #999999;
  -webkit-text-fill-color: #999999;
}

.react-datepicker {
  background-color: #ffffff;
  color: #000000;
}

.react-datepicker__day,
.react-datepicker__current-month,
.react-datepicker__header {
  color: #000000;
}